// 全局样式

// 示例
.g-card {
  border: 1px solid #dddee1;
  border-color: #e9eaec;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
}

.view-container {
  padding: 16px;
}
